.edit-btns-group {
  display: flex;
  justify-content: center;
}

.edit-user-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
    position: absolute;
    right: 550px;
    font-family: 'Kaisei HarunoUmi', serif;
  };

#confirm-edit {
    margin-right: 5px
  }

#cancel-edit {
    margin-left: 5px;
  }

.edit-text {
    display: flex;
    justify-content: center;
  }

.container-edit {
    font-style: oblique;
    color: white;
}