.create-section-form {  
    padding-top: 8%;
    text-align: center;
} 

.cs-group {
    width: 500px;
    margin: 0 auto;
    font-family: 'Kaisei HarunoUmi', serif;

}

.editor {
    display: grid;
    margin: 0 auto;
    border-radius: 5px !important;
    box-shadow: 10px 10px 20px rgb(23, 88, 32);
}

.create-section-input {
    border-radius: 5px !important;
}
