.back-btn {
    margin-top: 7%;
    margin-left: 20px;
}

.section-title {
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-family: 'Kaisei HarunoUmi', serif;
    color: white;
    text-shadow: 1px 1px 5px black;
}

.section-content {
    display: grid; 
    justify-content: center;
}

.section-details-wallpaper {
    background-image: url('../../../wallpapers/allcourses-wallpaper2.jpg');
    position: fixed;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    z-index: -1;
    overflow-y: scroll;
}