.create-section-link {
    display: flex;
    margin-top: 11%;
    margin-left: 20px;
    position: fixed;
    z-index: 2;
    top: 0;
}


.course-title {
    display: flex;
    justify-content: center;
    margin-top: 7%;
    font-family: 'Kaisei HarunoUmi', serif;
    color: white;
    text-shadow: 1px 1px 5px black;
}


#section-back-btn {
    margin-top: 7%;
    margin-left: 20px;
    position: fixed;
    z-index: 2;
    top: 0;
}

#no-sections-text {
    display: flex;
    justify-content: center;
    font-family: 'Kaisei HarunoUmi', serif;
    font-size: 20px;
}

.sections-wallpaper{
    background-image: url('../../../wallpapers/allcourses-wallpaper2.jpg');
    position: fixed;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    z-index: -1;
    overflow-y: scroll;
  }