.single-student {
    display: flex;
    float: left;
    margin: 15px;
    width: 22%;
    padding-left: 33px;
    font-family: 'Kaisei HarunoUmi', serif;
} 

.student-card {
    transition: transform .4s;
    border-radius: 5px !important;
    border-color: gray !important;
}


.student-card:hover {
    transform: scale(1.05);
}

.student-name {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 7px;
}