.search-input {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.all-courses-text {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 10px;
    font-family: 'Kaisei HarunoUmi', serif;
    color: white;
    text-shadow: 1px 1px 5px black;
}

.create-course-btn {
    display: flex;
    justify-content: center;
    margin: 10px;  
}

#clear-btn-style {
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    opacity: 0.9;
}

.search-input-style {
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
    border: solid 1px rgb(67, 70, 226);
    width: 300px;
    opacity: 0.9;
}

.search-input-style:focus {
    outline: none;
    border: solid rgb(41, 21, 131);
    transition: 0.1s;
  }


  .paginationButtons {
    padding-top: 30px;
    margin-left: 8%;
    padding-bottom: 40px;
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
  }
   
  .paginationButtons a {
    padding: 10px;
    margin: 2px;
    border-radius: 5px;
    color: rgb(48, 53, 58);
    cursor: pointer;
  }

  .paginationButtons a:hover {
  color: white;
  background-color: rgb(43, 144, 97);
  box-shadow: 5px 5px 20px rgb(51, 50, 53);
}
 
.paginationActive a {
  color: white;
  background-color: rgb(43, 144, 97);
}

.courses-wallpaper{
  background-image: url('../../../wallpapers/allcourses-wallpaper2.jpg');
  position: fixed;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  z-index: -1;
  overflow-y: scroll;
}

.btn.btn-success:hover {
  box-shadow: 5px 5px 20px rgba(7,102,122,1);
  background-color: rgba(7,102,122,1);
}

.btn.btn-success {
  background-color: rgba(7,102,122,1);
}