.all-teachers-label {
    display: flex;
    justify-content: center;
    font-size: 40px; 
    text-align: center; 
    margin-top: 100px;
    margin-bottom: 10px;
    font-family: 'Kaisei HarunoUmi', serif;
}
.search-input {
    display: flex;
    justify-content: center;
    margin: 20px;
}

#clear-btn-style {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.search-input-style {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 300px;
}

.search-input-style:focus {
    outline: none;
    transition: 0.1s;
  }

.all-teachers {
    margin-top: 6%;
}  

.teachers-wallpaper{
    background-image: url('../../../wallpapers/allcourses-wallpaper2.jpg');
    position: fixed;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    z-index: -1;
    overflow-y: scroll;
  }