.edit-course-btns {
  display: flex;
  justify-content: center;
}

#edit-course-title-text {
  display: flex ;
  justify-content: center;
  margin-top: 90px;
  font-size: 30px;
  font-family: 'Kaisei HarunoUmi', serif;
  text-shadow: 1px 1px 5px black;
  color:white
}

.edit-course-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-family: 'Kaisei HarunoUmi', serif;
  };
