.single-teacher {
    display: flex;
    float: left;
    margin: 15px;
    width: 22%;
    padding-left: 33px;
    font-family: 'Kaisei HarunoUmi', serif;
} 

.teacher-card {
    transition: transform .4s;
    border-color: gray !important;
    font-family: 'Kaisei HarunoUmi', serif;
}


.teacher-card:hover {
    transform: scale(1.05);
}

.teacher-name {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 22px;
}