.circle-with-text {
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    text-align: center;
    display: flex;
  }

  .navbar.navbar-expand.navbar-dark.bg-success {
    background: radial-gradient(circle, rgba(7,102,122,1) 6%, rgba(46,207,110,0.9812967423297444) 100%) !important;
    box-shadow: 10px 10px 20px rgb(8, 48, 21);
  }

  .ml-auto.navbar-nav {
    height: 42px;
  }

.navbar.navbar-expand.navbar-dark.bg-success {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  height: 9%;
}
.logo {
  font-family: 'Allison', cursive;
  font-size: 40px;
}

.logout-btn.btn.btn-outline-light {
  width: 80px !important;
}
