.section-card {
    box-shadow: 10px 10px 20px rgb(23, 88, 32);
    transition: transform .4s;
    border-radius: 5px !important;
    border-color: gray !important;
    opacity: 0.9;
    
}

.section-card:hover {
    transform: scale(1.05);
    box-shadow: 20px 20px 50px rgb(23, 88, 32);
}

.card-img-top, .card-img  {
    border-top-right-radius: 5px !important;
    border-top-left-radius: 5px !important;
}

.individual-section {
    display:flex;
    justify-content: center;
    margin-bottom: 20px;
    padding-right: 25px;
    font-family: 'Kaisei HarunoUmi', serif;
}

.card-text {
    text-align: center;
}