.single-user-details {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 8%;
    font-size: 20px;
    text-align: center;
    font-family: 'Kaisei HarunoUmi', serif;
};  

.users-wallpaper {
    background-image: url('../../../wallpapers/allcourses-wallpaper2.jpg');
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    z-index: -1;
    overflow-y: scroll;
  }

