.register-btns-group {
  display: flex;
  justify-content: center;
}


.register-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
  };

  #ControlInput-email {
    border-radius: 5px !important;
  }

  #confirm-register {
    margin-right: 5px;
    width: 210px;
  }

  #cancel-register {
    margin-left: 5px;
    width: 210px;
  }

  .register-text {
    display: flex;
    justify-content: center;
    font-family: 'Kaisei HarunoUmi', serif;
  }
